[Service]
Environment=SRV1CV8_DEBUG=-debug
Environment=SRV1CV8_PORT={{ ragent_port }}
Environment=SRV1CV8_REGPORT={{ rmngr_port }}
Environment=SRV1CV8_RANGE={{ rphost_start_port }}:{{ rphost_end_port }}
Environment=SRV1CV8_DATA=/home/usr1cv8/.1cv8/1C/1cv8_{{ ragent_port }}