[Server]
Port={{ ragent_port }}
RegPort={{ rmngr_port }}
Range={{ rphost_start_port }}-{{ rphost_end_port }}
Debug=1
DebugAddr=localhost:{{ ras_port }}
Cluster={{ cluster_name }}
DbServer=localhost:{{ postgres_port }}
DbName={{ cluster_name }}
DbUser=postgres
DbPwd=postgres
Locale=ru
LicenseDistribution=allow 